@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$yellow-palette,
      secondary: mat.$green-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  color-scheme: dark; // since your app is dark
}
